<div class="row row-no-padding">
  <div class="col-xs-12" style="margin: 10px; padding: 0;">
    <%= link_to link, class: "link-back btn-back", style: "width: 150px;" do %>
      <%= image_tag('back.svg', width: '24px', style: "margin-right: 10px;") %> <h5>POWRÓT</h5>
    <% end %>
  </div>
</div>
