  <div class="col-xs-2 col-sm-3">
    <%= link_to link, class: "link-back btn-back btn-navigate" do %>
      <%= image_tag('back.svg', width: '24px') %> <h5 class="hidden-xs" style="margin-left: 10px;">POWRÓT</h5>
    <% end %>
  </div>
