  <div class="col-xs-12 col-sm-1" style="margin: 10px 25px 10px 50px; padding: 0;">
    <%= link_to link, class: "link-back btn-back", style: "width: 150px;" do %>
      <%= image_tag('gear.svg', width: '24px', style: "margin-right: 10px;") %> <h5>EDYTUJ</h5>
    <% end %>
  </div>
