<div class="footer hidden-xs">
  <div class="footer-links">
    <p>ALCAR Lech Żuber</p>
    <p>|</p>
    <p>ul. Kraszewskiego 31, Lublin</p>
    <p>|</p>
    <p>tel. 81 744 18 52</p>
  </div>
  <div class="footer-copyright">
    <p>made by <a href="http://zuzazuber.com" class="link-no-deco">Zuza</a></p>
  </div>
</div>
