<div class="navbar-wagon navbar-fixed-top">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
  <h1>ALCAR</h1>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">


      <!-- Links when logged in -->
      <a href="#kancelria" class="navbar-wagon-item navbar-wagon-link">KANCELARIA</a>
      <a href="#oferta" class="navbar-wagon-item navbar-wagon-link">OFERTA</a>
      <a href="#kontakt" class="navbar-wagon-item navbar-wagon-link">KONTAKT</a>
      <!-- Avatar with dropdown menu -->

  </div>

  <!-- Dropdown list appearing on mobile only -->

</div>
