#oferta {
  margin: 10px 100px;
}

.cat-icon {
  max-width: 30%;
  padding: 20px;
  margin-top: 20px;
}

.cat-details {
  text-decoration: none;
  color: #2b2b2b;
  transition: ease 0.3s;
  padding: 0 20px;
  &:hover {
    transform: scale(1.1);
  }
}

.category-banner {
  color: white;
  text-align: center;
  height: 40vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  p {
    font-size:30px;
    color: rgb(255, 255, 255);
    opacity: 0.9;
    margin-bottom: 30px;
  }
}

.cat-banner-title {
  position: absolute;
  width: 520px;
  height: 60px;
  left: 1px;
  bottom: 20px;
  background-color: #FF0025;
  color: white;
  padding: 8px 20px 3px 20px;
  border-radius: 3px;
  transition: all 0.4s;
  display: flex;
  align-items: center;
  justify-content: center;
  h1 {
  font-family: "Montserrat", "sans-serif";
  font-size: 30px;
  margin: 0 !important;
  }
}

.cat-content {
  margin: 30px auto;
  width: 85%;
}

.cat-description {
  padding: 20px;
  background-color: #fff;
  color: #2b2b2b;
  text-align: left;
  p {
    padding: 0 !important;
  }
}

.cat-products {
  display: flex;
  flex-direction: column;
}

.cat-product {
  padding: 10px 20px;
  background-color: #fff;
  color: #2b2b2b;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cat-product-price {
  margin-left: 15px;
}
